@import "../helpers/_variables";
@import "../helpers/helpers";


.main-content {
  @include main-content-shape;

  .error-message, .empty-message {
    color: $text-color;
  }

  .empty-massage-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      .add-button {
        display: block;
        width: fit-content;
        border: none;
        color: white;
        outline: none;
        -webkit-text-stroke: 1px black;
        background-color: #1e28b6;
        border-radius: 15px;
        padding: 10px;
        margin-top: 15px;
      }
    }
  }

  div {
    justify-content: center;
  }

  h1 {
    color: $title-color;
    margin-bottom: 40px;
  }

  table {
    width: 100%;

    tbody {
      display: flex;
      flex-direction: column;
      gap: 20px;

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $table-border-color;
        border-radius: 10px;
        padding-block: 5px;
        padding-inline: 10px;

        &:nth-last-child(1) {
          margin-bottom: 10px;
        }

        td {

          color: $text-color;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &.title, &.description {
            width: calc((100vw - 40px - 20px) / 2 - 64px);
            padding-right: 15px;
          }

          &.star-button-container, &.delete-button-container {
            margin-right: 8px;

            .star-button {
              &-active {
                filter: invert(70%) sepia(45%) saturate(805%) hue-rotate(6deg) brightness(114%) contrast(96%);
              }
            }
          }

          button {
            @include listButton;
          }
        }
      }
    }
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #548efa;
  border-radius: 20px;
  margin-block: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #17509b;
  border-radius: 20px;

  &:hover {
    background-color: #0e3b75;
  }
}