@import "../helpers/_variables";
@import "../helpers/helpers";


.main-content {
  @include main-content-shape;

  h1 {
    color: $title-color;
    margin-bottom: 40px;
  }

  table {
    tbody {
      tr {
        border: 1px solid $table-border-color;
        border-radius: 10px;

        &:nth-last-child(1) {
          margin-bottom: 10px;
        }

        td {
          color: $text-color;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &.title, &.description {
            width: calc((100vw - 40px - 20px) / 2 - 64px);
            padding-right: 15px;
          }

          &.star-button-container, &.delete-button-container {
            margin-right: 8px;

            .star-button {
              &-active {
                filter: invert(70%) sepia(45%) saturate(805%) hue-rotate(6deg) brightness(114%) contrast(96%);
              }
            }
          }

          button {
            @include listButton;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #548efa;
  border-radius: 20px;
  margin-block: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #17509b;
  border-radius: 20px;

  &:hover {
    background-color: #0e3b75;
  }
}