$button-color: #75716c;
$text-color: #8f8a76;
$button-hover-color: #4987f3;
$button-hover-icon-filter: invert(41%) sepia(99%) saturate(553%) hue-rotate(185deg) brightness(101%) contrast(91%);
$button-active-color: #367de1;
$button-active-icon-filter: invert(46%) sepia(72%) saturate(2608%) hue-rotate(198deg) brightness(91%) contrast(94%);
$table-border-color: #2d74e0;
$background-color: #29282c;