@import "../helpers/_variables";


.error-message, .empty-message {
  color: $text-color;
}

.empty-massage-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    .nav-button {
      display: block;
      width: fit-content;
      border: none;
      color: white;
      outline: none;
      -webkit-text-stroke: 1px black;
      background-color: #1e28b6;
      border-radius: 15px;
      padding: 10px;
      margin-top: 15px;
    }
  }
}